<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <div class="login-logo">
       <div class="logo-circle mx-auto flex justify-center items-center">
        <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       </div>
      </div>
      <h3 class="login-title">Login</h3>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">User</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
          placeholder="Enter your user"
          [class.is-invalid]="username?.invalid && username?.touched"
        >
        <div class="invalid-feedback" *ngIf="username?.invalid && username?.touched">
          The user is required
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="relative"> <!-- Contenedor relativo para el input y el botón -->
          <input
            [type]="showPassword() ? 'text' : 'password'"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Enter your password"
            [class.is-invalid]="password?.invalid && password?.touched"
          >
          <button type="button" (click)="togglePasswordVisibility()"
            class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500 hover:text-gray-700 transition-colors p-2 focus:outline-none"
            appClickLogger="Toggle visibilidad password">
            <svg *ngIf="showPassword()" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
            </svg>
            <svg *ngIf="!showPassword()" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          </button>
        </div>
        <div class="invalid-feedback" *ngIf="password?.invalid && password?.touched">
          <div *ngIf="password?.errors?.['required']">Password is required</div>
          <div *ngIf="password?.errors?.['minlength']">
            The password must be at least 6 characters long
          </div>
        </div>
      </div>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="loginForm.invalid || isLoading"
      >
        <span *ngIf="!isLoading">Login</span>
        <span *ngIf="isLoading">Loading...</span>
      </button>
    </form>

    <div class="register-link">
      <p>¿You don't have an account? <a routerLink="/auth/register">Register</a></p>
    </div>
  </div>
</div>